;;; configuration for LIFT tests

;; settings
(:dribble nil)
(:print-length 10)
(:print-level 5)
(:print-test-case-names t)
(:log-pathname t)

;; suites to run
(uk.ac.sanger.readmill-test:readmill-tests)

;; report properties
;; (:report-property :title "ReadMill | Test results")
(:report-property :format :describe)
(:report-property :full-pathname *standard-output*)
(:build-report)
